

[Unit]
Description=Run Nextcloud cron job every 5 mins
Requires=pod-nextcloud-pod.service
After=pod-nextcloud-pod.service

[Timer]
OnBootSec=10min
OnUnitActiveSec=5min

[Install]
WantedBy=timers.target
